<configuration>

    <appender name="GRAYLOG" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">
        <host>udp:harvester.kruemel.home</host>
        <port>12201</port>
        <version>1.1</version>
        <facility>funnel-notifier</facility>
        <extractStackTrace>true</extractStackTrace>
        <filterStackTrace>true</filterStackTrace>
        <mdcProfiling>true</mdcProfiling>
        <timestampPattern>YYYY-MM-dd HH:mm:ss.SSS</timestampPattern>
        <maximumMessageSize>8192</maximumMessageSize>
    </appender>

    <logger name="org.apache" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>

    <root level="info">
        <appender-ref ref="GRAYLOG"/>
    </root>
</configuration>